@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.woff?q4r5z6') format('woff'),
         url('fonts/icomoon.svg?q4r5z6#icomoon') format('svg');
}  

  @font-face{ 
    	font-family: 'ClearSans';
      src: url('fonts/ClearSans-Regular-webfont.woff');

}
  @font-face{ 
    	font-family: 'ClearSans';
      src: url('fonts/ClearSans-Bold-webfont.woff');
      font-weight: bold;
}      
  @font-face{ 
      font-family: 'ClearSans';
      src: url('fonts/ClearSans-Medium-webfont.woff');
      font-weight: medium;
}

p  {
    display: block;
    font-size: 25px;
    font-weight:normal;
}

h1 { 
    font-size: 25px;
    font-family:'ClearSans';
    font-weight: bold;
    color: #222;
    padding-left: 50px;
}

h2 { 
  font-size: 16px;
  font-family:'ClearSans';
  font-weight: bold;
  text-align: center;
}

h3 { 
    display: block;
    font-size: 32px;
    font-weight: normal;
}

h4 { 
    display: block;
    font-size: 64px;
    font-weight: normal;
}

h5 { 
    display: block;
    font-size: 16px;
    font-family:'ClearSans';
    font-weight: bold;
}

h6 { 
    display: block;
    font-size: 25px;
    font-weight: normal;
}

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

  
    /* Better Font Rendering ============ */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-ACTION_1:before {
    content: "\e900";
  }
  .icon-ACTION_2:before {
    content: "\e901";
  }
  .icon-ACTION_3:before {
    content: "\e902";
  }
  .icon-ACTION_4:before {
    content: "\e903";
  }
  .icon-ACTION_5:before {
    content: "\e904";
  }
  .icon-ACTION_6:before {
    content: "\e905";
  }
  .icon-ACTION_7:before {
    content: "\e906";
  }
  .icon-ACTION_8:before {
    content: "\e907";
  }
  .icon-ACTION_9:before {
    content: "\e908";
  }
  .icon-ACTION_10:before {
    content: "\e909";
  }
  .icon-ACTION_11:before {
    content: "\e90a";
  }
  .icon-ACTION_12:before {
    content: "\e90b";
  }
  .icon-ACTION_13:before {
    content: "\e90c";
  }
  .icon-ACTION_14:before {
    content: "\e90d";
  }
  .icon-ACTION_15:before {
    content: "\e90e";
  }
  .icon-ACTION_16:before {
    content: "\e90f";
  }
  .icon-ACTION_17:before {
    content: "\e910";
  }
  .icon-ACTION_18:before {
    content: "\e911";
  }
  .icon-ACTION_19:before {
    content: "\e912";
  }
  .icon-ACTION_20:before {
    content: "\e913";
  }
  .icon-ACTION_21:before {
    content: "\e914";
  }
  .icon-ACTION_22:before {
    content: "\e915";
  }
  .icon-ACTION_23:before {
    content: "\e916";
  }
  .icon-ACTION_24:before {
    content: "\e917";
  }
  .icon-ACTION_25:before {
    content: "\e918";
  }
  .icon-ACTION_26:before {
    content: "\e919";
  }
  .icon-ACTION_27:before {
    content: "\e91a";
  }
  .icon-ACTION_28:before {
    content: "\e91b";
  }
  .icon-ACTION_29:before {
    content: "\e91c";
  }
  .icon-ACTION_30:before {
    content: "\e91d";
  }
  .icon-ACTION_31:before {
    content: "\e91e";
  }
  .icon-ACTION_32:before {
    content: "\e91f";
  }
  .icon-ACTION_33:before {
    content: "\e920";
  }
  .icon-ACTION_34:before {
    content: "\e921";
  }
  .icon-ACTION_35:before {
    content: "\e922";
  }
  .icon-ACTION_36:before {
    content: "\e923";
  }
  .icon-ACTION_37:before {
    content: "\e924";
  }
  .icon-ACTION_38:before {
    content: "\e925";
  }
  .icon-ACTION_39:before {
    content: "\e926";
  }
  .icon-ACTION_40:before {
    content: "\e927";
  }
  .icon-ACTION_41:before {
    content: "\e928";
  }
  .icon-ACTION_42:before {
    content: "\e929";
  }
  .icon-ACTION_43:before {
    content: "\e92a";
  }
  .icon-ACTION_44:before {
    content: "\e92b";
  }
  .icon-ACTION_45:before {
    content: "\e92c";
  }
  .icon-ACTION_46:before {
    content: "\e92d";
  }
  .icon-ACTION_47:before {
    content: "\e92e";
  }
  .icon-ACTION_48:before {
    content: "\e92f";
  }
  .icon-ACTION_49:before {
    content: "\e930";
  }
  .icon-ACTION_50:before {
    content: "\e931";
  }
  .icon-LOCOMOTIVES_1:before {
    content: "\e932";
  }
  .icon-LOCOMOTIVES_2:before {
    content: "\e933";
  }
  .icon-LOCOMOTIVES_3:before {
    content: "\e934";
  }
  .icon-LOCOMOTIVES_4:before {
    content: "\e935";
  }
  .icon-LOCOMOTIVES_5:before {
    content: "\e936";
  }
  .icon-LOCOMOTIVES_6:before {
    content: "\e937";
  }
  .icon-LOCOMOTIVES_7:before {
    content: "\e938";
  }
  .icon-LOCOMOTIVES_8:before {
    content: "\e939";
  }
  .icon-LOCOMOTIVES_9:before {
    content: "\e93a";
  }
  .icon-LOCOMOTIVES_10:before {
    content: "\e93b";
  }
  .icon-LOCOMOTIVES_11:before {
    content: "\e93c";
  }
  .icon-LOCOMOTIVES_12:before {
    content: "\e93d";
  }
  .icon-LOCOMOTIVES_13:before {
    content: "\e93e";
  }
  .icon-LOCOMOTIVES_14:before {
    content: "\e93f";
  }
  .icon-LOCOMOTIVES_15:before {
    content: "\e940";
  }
  .icon-LOCOMOTIVES_16:before {
    content: "\e941";
  }
  .icon-LOCOMOTIVES_17:before {
    content: "\e942";
  }
  .icon-LOCOMOTIVES_18:before {
    content: "\e943";
  }
  .icon-LOCOMOTIVES_19:before {
    content: "\e944";
  }
  .icon-LOCOMOTIVES_20:before {
    content: "\e945";
  }
  .icon-LOCOMOTIVES_21:before {
    content: "\e946";
  }
  .icon-LOCOMOTIVES_22:before {
    content: "\e947";
  }
  .icon-LOCOMOTIVES_23:before {
    content: "\e948";
  }
  .icon-LOCOMOTIVES_24:before {
    content: "\e949";
  }
  .icon-LOCOMOTIVES_25:before {
    content: "\e94a";
  }
  .icon-LOCOMOTIVES_26:before {
    content: "\e94b";
  }
  .icon-LOCOMOTIVES_27:before {
    content: "\e94c";
  }
  .icon-LOCOMOTIVES_28:before {
    content: "\e94d";
  }
  .icon-LOCOMOTIVES_29:before {
    content: "\e94e";
  }
  .icon-LOCOMOTIVES_30:before {
    content: "\e94f";
  }
  .icon-LOCOMOTIVES_31:before {
    content: "\e950";
  }
  .icon-LOCOMOTIVES_32:before {
    content: "\e951";
  }
  .icon-LOCOMOTIVES_33:before {
    content: "\e952";
  }
  .icon-LOCOMOTIVES_34:before {
    content: "\e953";
  }
  .icon-LOCOMOTIVES_35:before {
    content: "\e954";
  }
  .icon-LOCOMOTIVES_36:before {
    content: "\e955";
  }
  .icon-LOCOMOTIVES_37:before {
    content: "\e956";
  }
  .icon-LOCOMOTIVES_38:before {
    content: "\e957";
  }
  .icon-LOCOMOTIVES_39:before {
    content: "\e958";
  }
  .icon-LOCOMOTIVES_40:before {
    content: "\e959";
  }
  .icon-LOCOMOTIVES_41:before {
    content: "\e95a";
  }
  .icon-LOCOMOTIVES_42:before {
    content: "\e95b";
  }
  .icon-LOCOMOTIVES_43:before {
    content: "\e95c";
  }
  .icon-LOCOMOTIVES_44:before {
    content: "\e95d";
  }
  .icon-LOCOMOTIVES_45:before {
    content: "\e95e";
  }
  .icon-LOCOMOTIVES_46:before {
    content: "\e95f";
  }
  .icon-LOCOMOTIVES_47:before {
    content: "\e960";
  }
  .icon-LOCOMOTIVES_48:before {
    content: "\e961";
  }
  .icon-LOCOMOTIVES_49:before {
    content: "\e962";
  }
  .icon-LOCOMOTIVES_50:before {
    content: "\e963";
  }
  .icon-MODUS_1:before {
    content: "\e964";
  }
  .icon-MODUS_2:before {
    content: "\e965";
  }
  .icon-MODUS_3:before {
    content: "\e966";
  }
  .icon-MODUS_4:before {
    content: "\e967";
  }
  .icon-MODUS_5:before {
    content: "\e968";
  }
  .icon-MODUS_6:before {
    content: "\e969";
  }
  .icon-MODUS_7:before {
    content: "\e96a";
  }
  .icon-MODUS_8:before {
    content: "\e96b";
  }
  .icon-MODUS_9:before {
    content: "\e96c";
  }
  .icon-MODUS_10:before {
    content: "\e96d";
  }
  .icon-MODUS_11:before {
    content: "\e96e";
  }
  .icon-MODUS_12:before {
    content: "\e96f";
  }
  .icon-MODUS_13:before {
    content: "\e970";
  }
  .icon-MODUS_14:before {
    content: "\e971";
  }
  .icon-MODUS_15:before {
    content: "\e972";
  }
  .icon-MODUS_16:before {
    content: "\e973";
  }
  .icon-MODUS_17:before {
    content: "\e974";
  }
  .icon-MODUS_18:before {
    content: "\e975";
  }
  .icon-MODUS_19:before {
    content: "\e976";
  }
  .icon-MODUS_20:before {
    content: "\e977";
  }
  .icon-MODUS_21:before {
    content: "\e978";
  }
  .icon-MODUS_22:before {
    content: "\e979";
  }
  .icon-MODUS_23:before {
    content: "\e97a";
  }
  .icon-MODUS_24:before {
    content: "\e97b";
  }
  .icon-MODUS_25:before {
    content: "\e97c";
  }
  .icon-MODUS_26:before {
    content: "\e97d";
  }
  .icon-MODUS_27:before {
    content: "\e97e";
  }
  .icon-MODUS_28:before {
    content: "\e97f";
  }
  .icon-MODUS_29:before {
    content: "\e980";
  }
  .icon-MODUS_30:before {
    content: "\e981";
  }
  .icon-MODUS_31:before {
    content: "\e982";
  }
  .icon-MODUS_32:before {
    content: "\e983";
  }
  .icon-MODUS_33:before {
    content: "\e984";
  }
  .icon-MODUS_34:before {
    content: "\e985";
  }
  .icon-MODUS_35:before {
    content: "\e986";
  }
  .icon-MODUS_36:before {
    content: "\e987";
  }
  .icon-MODUS_37:before {
    content: "\e988";
  }
  .icon-MODUS_38:before {
    content: "\e989";
  }
  .icon-MODUS_39:before {
    content: "\e98a";
  }
  .icon-MODUS_40:before {
    content: "\e98b";
  }
  .icon-MODUS_41:before {
    content: "\e98c";
  }
  .icon-MODUS_42:before {
    content: "\e98d";
  }
  .icon-MODUS_43:before {
    content: "\e98e";
  }
  .icon-MODUS_44:before {
    content: "\e98f";
  }
  .icon-MODUS_45:before {
    content: "\e990";
  }
  .icon-MODUS_46:before {
    content: "\e991";
  }
  .icon-MODUS_47:before {
    content: "\e992";
  }
  .icon-MODUS_48:before {
    content: "\e993";
  }
  .icon-MODUS_49:before {
    content: "\e994";
  }
  .icon-MODUS_50:before {
    content: "\e995";
  }
  .icon-PERSON_1:before {
    content: "\e996";
  }
  .icon-PERSON_2:before {
    content: "\e997";
  }
  .icon-PERSON_3:before {
    content: "\e998";
  }
  .icon-PERSON_4:before {
    content: "\e999";
  }
  .icon-PERSON_5:before {
    content: "\e99a";
  }
  .icon-PERSON_6:before {
    content: "\e99b";
  }
  .icon-PERSON_7:before {
    content: "\e99c";
  }
  .icon-PERSON_8:before {
    content: "\e99d";
  }
  .icon-PERSON_9:before {
    content: "\e99e";
  }
  .icon-PERSON_10:before {
    content: "\e99f";
  }
  .icon-PERSON_11:before {
    content: "\e9a0";
  }
  .icon-PERSON_12:before {
    content: "\e9a1";
  }
  .icon-PERSON_13:before {
    content: "\e9a2";
  }
  .icon-PERSON_14:before {
    content: "\e9a3";
  }
  .icon-PERSON_15:before {
    content: "\e9a4";
  }
  .icon-PERSON_16:before {
    content: "\e9a5";
  }
  .icon-PERSON_17:before {
    content: "\e9a6";
  }
  .icon-PERSON_18:before {
    content: "\e9a7";
  }
  .icon-PERSON_19:before {
    content: "\e9a8";
  }
  .icon-PERSON_20:before {
    content: "\e9a9";
  }
  .icon-PERSON_21:before {
    content: "\e9aa";
  }
  .icon-PERSON_22:before {
    content: "\e9ab";
  }
  .icon-PERSON_23:before {
    content: "\e9ac";
  }
  .icon-PERSON_24:before {
    content: "\e9ad";
  }
  .icon-PERSON_25:before {
    content: "\e9ae";
  }
  .icon-PERSON_26:before {
    content: "\e9af";
  }
  .icon-PERSON_27:before {
    content: "\e9b0";
  }
  .icon-PERSON_28:before {
    content: "\e9b1";
  }
  .icon-PERSON_29:before {
    content: "\e9b2";
  }
  .icon-PERSON_30:before {
    content: "\e9b3";
  }
  .icon-PERSON_31:before {
    content: "\e9b4";
  }
  .icon-PERSON_32:before {
    content: "\e9b5";
  }
  .icon-PERSON_33:before {
    content: "\e9b6";
  }
  .icon-PERSON_34:before {
    content: "\e9b7";
  }
  .icon-PERSON_35:before {
    content: "\e9b8";
  }
  .icon-PERSON_36:before {
    content: "\e9b9";
  }
  .icon-PERSON_37:before {
    content: "\e9ba";
  }
  .icon-PERSON_38:before {
    content: "\e9bb";
  }
  .icon-PERSON_39:before {
    content: "\e9bc";
  }
  .icon-PERSON_40:before {
    content: "\e9bd";
  }
  .icon-PERSON_41:before {
    content: "\e9be";
  }
  .icon-PERSON_42:before {
    content: "\e9bf";
  }
  .icon-PERSON_43:before {
    content: "\e9c0";
  }
  .icon-PERSON_44:before {
    content: "\e9c1";
  }
  .icon-PERSON_45:before {
    content: "\e9c2";
  }
  .icon-PERSON_46:before {
    content: "\e9c3";
  }
  .icon-PERSON_47:before {
    content: "\e9c4";
  }
  .icon-PERSON_48:before {
    content: "\e9c5";
  }
  .icon-PERSON_49:before {
    content: "\e9c6";
  }
  .icon-PERSON_50:before {
    content: "\e9c7";
  }
  .icon-WAGON_1:before {
    content: "\e9c8";
  }
  .icon-WAGON_2:before {
    content: "\e9c9";
  }
  .icon-WAGON_3:before {
    content: "\e9ca";
  }
  .icon-WAGON_4:before {
    content: "\e9cb";
  }
  .icon-WAGON_5:before {
    content: "\e9cc";
  }
  .icon-WAGON_6:before {
    content: "\e9cd";
  }
  .icon-WAGON_7:before {
    content: "\e9ce";
  }
  .icon-WAGON_8:before {
    content: "\e9cf";
  }
  .icon-WAGON_9:before {
    content: "\e9d0";
  }
  .icon-WAGON_10:before {
    content: "\e9d1";
  }
  .icon-WAGON_11:before {
    content: "\e9d2";
  }
  .icon-WAGON_12:before {
    content: "\e9d3";
  }
  .icon-WAGON_13:before {
    content: "\e9d4";
  }
  .icon-WAGON_14:before {
    content: "\e9d5";
  }
  .icon-WAGON_15:before {
    content: "\e9d6";
  }
  .icon-WAGON_16:before {
    content: "\e9d7";
  }
  .icon-WAGON_17:before {
    content: "\e9d8";
  }
  .icon-WAGON_18:before {
    content: "\e9d9";
  }
  .icon-WAGON_19:before {
    content: "\e9da";
  }
  .icon-WAGON_20:before {
    content: "\e9db";
  }
  .icon-WAGON_21:before {
    content: "\e9dc";
  }
  .icon-WAGON_22:before {
    content: "\e9dd";
  }
  .icon-WAGON_23:before {
    content: "\e9de";
  }
  .icon-WAGON_24:before {
    content: "\e9df";
  }
  .icon-WAGON_25:before {
    content: "\e9e0";
  }
  .icon-WAGON_26:before {
    content: "\e9e1";
  }
  .icon-WAGON_27:before {
    content: "\e9e2";
  }
  .icon-WAGON_28:before {
    content: "\e9e3";
  }
  .icon-WAGON_29:before {
    content: "\e9e4";
  }
  .icon-WAGON_30:before {
    content: "\e9e5";
  }
  .icon-WAGON_31:before {
    content: "\e9e6";
  }
  .icon-WAGON_32:before {
    content: "\e9e7";
  }
  .icon-WAGON_33:before {
    content: "\e9e8";
  }
  .icon-WAGON_34:before {
    content: "\e9e9";
  }
  .icon-WAGON_35:before {
    content: "\e9ea";
  }
  .icon-WAGON_36:before {
    content: "\e9eb";
  }
  .icon-WAGON_37:before {
    content: "\e9ec";
  }
  .icon-WAGON_38:before {
    content: "\e9ed";
  }
  .icon-WAGON_39:before {
    content: "\e9ee";
  }
  .icon-WAGON_40:before {
    content: "\e9ef";
  }
  .icon-WAGON_41:before {
    content: "\e9f0";
  }
  .icon-WAGON_42:before {
    content: "\e9f1";
  }
  .icon-WAGON_43:before {
    content: "\e9f2";
  }
  .icon-WAGON_44:before {
    content: "\e9f3";
  }
  .icon-WAGON_45:before {
    content: "\e9f4";
  }
  .icon-WAGON_46:before {
    content: "\e9f5";
  }
  .icon-WAGON_47:before {
    content: "\e9f6";
  }
  .icon-WAGON_48:before {
    content: "\e9f7";
  }
  .icon-WAGON_49:before {
    content: "\e9f8";
  }
  .icon-WAGON_50:before {
    content: "\e9f9";
  }
  

body {
  width:100%;
  max-width:1440px;
  
}  
table {
  width:100%;
  max-width:1220px;
  
}

tr {
  width:100%;
  height:400px;
  max-height:400px;

}

td {
  text-align: center;
  width:400px;
  display: inline-block;
  border: 1px solid #E0E0E0;
}

td a{
     width:100%;
     height:100%;
     display:block;
     background:#fff;
     color:#222;
     text-decoration: none; 
}

td a:hover{
  filter: invert(100%);
  transition-duration:0.5s;
  
}

.iconsize1 {
  font-size: 16px;
  padding-left:30px;
  padding-right:30px;
}

.iconsize2 {
  font-size: 32px;
  margin-top:55px;
  padding-left:30px;
  padding-right:30px;
}

.iconsize3 {
  font-size: 64px;
  padding-left:30px;
  padding-right:30px;
}

.logo {
  width:1000px;
  float:left;
}

.svg1 {
  height: 16px;
  padding-right:30px;
  display:inline-block;
  text-align:center;
}

nav [role="navigation"] {
  background-color: red;
}
  
  nav > ul {
    list-style-type:none;
    float: right;
    text-align:center;
    list-style-type: none;
    font-family:'ClearSans';
    font-weight: medium;
    font-size:25px;
    color:#22aeff;
    padding: 0;
    margin-top:-10px;
    width: 100%;
    display: none;
  }
  nav > ul li {
    display:block;
  }
  nav > ul li a {
    display:block;
    min-width:140px;
    margin-top:15px;
    margin-bottom:15px;
    text-align: center;
    color: #22aeff;
    -webkit-transition-property: background; /* Safari */
    -webkit-transition-duration: .5s; /* Safari */
    transition-property: background;
    transition-duration: .5s;
    text-decoration: none;
  }
  
  li:hover a {
    color: #222;
    
  }
  /* Display 'show menu' link*/
  .show-menu {
  display:block;
  }
  
  .show-menu {
    font-family:'ClearSans';
    font-weight: medium;
    font-size:15px;
    color: #fff;
    background: #222;
    text-align: center;
    padding: 10px 0;
  }
  
  input[type=checkbox]{
  display: none;
  }
  
  /*Show menu when invisible checkbox is checked*/
  input[type=checkbox]:checked ~ ul {
      display: block;
  }
  
  @media screen and (min-width: 48em) {
    nav > ul {
      width: 200px;
      display: block;
    }
    nav > ul li a {
      text-align: left;
    }
    /* Hide button show-menu */
    .show-menu {
      display: none;
    }
  }